@model PoeticCloud.Models.Poem
@using PoeticCloud.Controllers
@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Create Your Cloud</h2>
<div ng-controller="CreateCtrl">

    <form class="myForm" name="myForm">
        <div>@Html.AntiForgeryToken()</div>
        <div>@Html.TextBoxFor(model => model.Title, new { data_ng_model = "Poetry.Title", @Value = @ViewBag.selectedPoem.Title }  )</div> 
        <div>@Html.TextBoxFor(model => model.Author, new { data_ng_model = "Poetry.Author", @Value = @ViewBag.selectedPoem.Author})</div>
        <div>@Html.TextBoxFor(model => model.Words, new { data_ng_model = "Poetry.Words", @Value = @ViewBag.selectedPoem.Words}) </div> 
        <div>
            <button ng-click="CreateNSavePoem()">Create Poem</button>
        </div>
    </form>

    <div id="wordsCloud">
        <word-cloud words="words" width ="width" height ="height">
        </word-cloud>
    </div>
</div>

